{% extends 'base.html' %}
{% block head %}
<title>profile</title>
{% endblock %}

{% block body %}
     <h3>My profile</h3>

        <h3>Applications for job listing by  {{name}}</h3>

       {% for applications in data %}
            <br>
            <div  style="padding-left: 40px; padding-right: 40px; padding-bottom: 40px; padding-top: 40px;box-sizing: border-box;
                  border: 2px solid rgba(0, 0, 0, 0.02);
                  margin-right: 46px;
                  margin-left: 46px;
                  background: rgba(136, 126, 126,0.2);
                  margin-bottom: 27px;">

                <h2>For job id {{ applications[4] }}</h2>
                <hr>
                <h5>Email: {{ applications[0] }} </h5>
                <h5>DOB: {{ applications[1] }} </h5>
                <h5>Location:{{ applications[2] }}</h5>

                <p style="white-space: pre-wrap;"> <b>RESUME LINK: {{ applications[3] }}</b> </p>

           </div>
      {% endfor%}

{% endblock %}